@model QuoteQuiz.Models.QuizModel
@*@inject IHttpContextAccessor HttpContextAccessor*@
@{
    ViewData["Title"] = "Details";
}

<div id="alertDanger" class="alert alert-danger alert-dismissible fade" role="alert">
</div>
<div id="alertSuccess" class="alert alert-success alert-dismissible fade" role="alert">
</div>

<h1>Quote (@Model.Counter/@Model.MaxQuestions)</h1>

<div id="quotes">
    <hr />
    <form asp-action="SubmitAnswer">
    <p>Who said it?</p>

    <dl id="multiple" class="row">
        <input type="hidden" asp-for="Question.Id" />
            <dd class = "col-sm-10 quote-bg">
                @Html.DisplayFor(model => model.Question.Text)
            </dd>    
            <dd class = "col-sm-12">
                <span class="span-author" style="float: right"></span>
            </dd>
        @foreach(var author in Model.Authors)
        {
             <dd class = "col-sm-10">
                 <input id="@author.Id" asp-for="UserAnswer" type="radio" value="@author.Id"/>
                 <label for="@author.Id">@author.FullName</label>
             </dd>
        }
         <div class="form-group">
                <input id="submitBtn" type="submit" value="Next" class="btn btn-primary hidden" />
         </div>
    </dl>

    <dl id="binary" class="row">
        <input type="hidden" asp-for="Question.Id" />
        <input type="hidden" asp-for="UserAnswer" value="@Model.Authors.First().Id" />
        <input type="hidden" id="author" value='@TempData["author"]' />
             <dd class = "col-sm-10 quote-bg">
                @Html.DisplayFor(model => model.Question.Text)
            </dd>  
        <dd class = "col-sm-12">
            <span id="spanAuthor" class="span-author" style="float: right">- @Model.Authors.First().FullName?</span>
        </dd>
        <dd class = "col-sm-10">
            <input id="true" asp-for="Correct" type="radio" value="true"/> 
            <label for="true">Yes</label>
            <input id="false" asp-for="Correct" type="radio" value="false"/>
            <label for="false">No</label>
         </dd>
         <div class="form-group">
                <input style="float: left" id="submitBtn" type="submit" value="Next" class="btn btn-primary hidden" />
         </div>
    </dl>
    </form>
</div>

<script>
</script>


